@model FollowArtist.ViewModels.HomeViewModel
@{
    ViewBag.Title = "Home Page";
}

<ul class="gigs">
    @foreach (var gig in Model.UpcomingGigs)
    {
        <li>
            <div class="date">
                <div class="month">
                    @gig.DateTime.ToString("MMM")
                </div>
                <div class="day">
                    @gig.DateTime.ToString("d ")
                </div>
            </div>
            <div class="details">
                <span class="artist">
                    @gig.Atrist.Name
                    @if (Model.ShowActions)
                    {
                        <button data-artist-id="@gig.ArtistId" class="btn btn-link btn-sm pull-right js-toggle-follow">Follow?</button>
                    }
                </span>
                <span class="genre">
                    @gig.Genre.Name
                </span>
                @if (Model.ShowActions)
                {
                    <button data-gig-id="@gig.Id" class="btn btn-default btn-sm pull-right js-toggle-attendance">Going?</button>
                }
            </div>
        </li>
    }
</ul>

@section scripts
{
    <script>
        $(document)
            .ready(function() {
                $(".js-toggle-attendance")
                    .click(function (e) {
                        var button = $(e.target);
                        console.log(button.attr("data-gig-id"));
                        $.post("/api/attendances", { gigId: button.attr("data-gig-id") })
                            .done(function() { // ajax call is successfull
                                button.removeClass("btn-default").addClass("btn-info").text("Going");
                            })
                            .fail(function() {
                                alert("Something failed!");
                            });
                    });
                $(".js-toggle-follow").click(function(e) {
                    var followButton = $(e.target);
                    console.log(followButton);
                    $.post("/api/followings", { ArtistId: followButton.attr("data-artist-id") })
                        .done(function () { // ajax call is successfull
                            followButton.removeClass("btn-default").addClass("btn-info").text("Follow");
                        })
                        .fail(function () {
                            alert("Something failed!");
                        });
                });
            });
    </script>
}
